@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --colorBackground: rgba(35, 205, 16, 0.124);
    user-select: none;
}

/* Dans ton fichier resources/css/app.css (ou global CSS) */
body {
    -ms-overflow-style: none; /* IE et Edge */
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari et Opera */
}
